# Игнорировать директорию с зависимостями Node.js
node_modules/

# Игнорировать файл с переменными окружения
.env

# Игнорировать временные файлы и логи
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать скомпилированные файлы и папки сборки
dist/
build/

# Игнорировать временные файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Игнорировать операционные файлы системы
.DS_Store
Thumbs.db

# Игнорировать файлы Firebase, если они не должны быть в репозитории
firebase-service-account.json

# Игнорировать временные файлы, связанные с тестами
coverage/